profiles {
    standard {
        process.executor = 'local'
    }

    cantb {
        process.executor = 'slurm'
        process.queue = 'tb'
        process.memory = '256GB'
        process.cpus = 20
        process.conda = '/panfs/biopan04/4DGENOMESEQ/HIC2STRUCTURE/envs/epic'
    }
    canfs {
        process.executor = 'slurm'
        process.queue = 'fast'
        process.memory = '64GB'
        process.cpus = 4
        process.conda = '/panfs/biopan04/4DGENOMESEQ/HIC2STRUCTURE/envs/epic'
    }

}
conda.enabled = 'true'

process.maxErrors = 10
process.maxRetries = 20
//params {
//    publishDir = 'build/'
//    exptdsn = 'experimental_design.csv'
//    wf_init = 'workflow.init'
//    wf_config = 'workflow.yaml'
//}

